// Colors
$primary-color: #c6f2fe;
$secondary-color: #63dafb;
$secondary-darker: #14bdec;
$bg-card-color: white;
$text-primary: black;
$danger-color: red;

// Spacing
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;

// Fonts
$font-size-m: 14px;

// Padding
$spacing-s: 10px;
$padding-m: 20px;
