// Colors
$primary-color: #c6f2fe;
$secondary-color: #63dafb;
$secondary-darker-color: #14bdec;
$bg-card-color: white;
$bg-btn-color: white;
$text-primary-color: black;
$text-secondary-color: #757575;
$text-inverse-color: white;
$danger-color: red;
$positive-color: #08a10b;

// Spacing
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;
$spacing-2xl: 40px;

// Radius
$radius-m: 8px;
$radius-l: 24px;

// Fonts
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 28px;

// Padding
$spacing-s: 10px;
$padding-m: 20px;

// Breakpoints
$breakpoint-tablet: 1240px;
