.contact-container {
  color: $text-primary;
  background-color: $bg-card-color;
  margin-bottom: $spacing-xl;
  padding: $spacing-xl;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;

  .contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-m;

    .contact-header-arrow {
      cursor: pointer;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .contact-togglable {
    .contact-content-container {
      margin-bottom: $spacing-xl;
    }

    .contact-controlls-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
