.contact-container {
  color: $text-primary-color;
  background-color: $bg-card-color;
  margin-bottom: $spacing-xl;
  padding: $spacing-xl;
  width: 100%;

  .contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact-header-arrow {
      cursor: pointer;
    }

    img {
      width: 75px;
      height: 75px;
    }
  }

  .contact-togglable {
    .contact-content-container {
      margin-bottom: $spacing-xl;
    }

    .contact-controlls-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
