.add-contact-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  border-radius: $radius-m;
  background-color: $bg-card-color;
  padding: $spacing-2xl $spacing-xl $spacing-xl $spacing-xl;

  .contact-form-inputs-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-m;
  }

  .choose-avatar-container {
    margin: $spacing-l 0;
    label {
      color: $text-inverse-color;
    }
    .chosen-avatar {
      display: inline-block;
      position: relative;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        color: $text-inverse-color;
        background: none;
        width: $spacing-2xl;
        height: $spacing-2xl;
        background-color: rgba($secondary-darker-color, 0.7);
        border-radius: 50%;
        border: none;
        padding: 0;
        cursor: pointer;

        &:hover {
          border: 1px solid $secondary-darker-color;
        }
      }
    }
  }

  .add-contact-controlls-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .positive-button {
      margin-left: $spacing-m;
    }
  }
}
