.contact-book-container {
  background-color: $primary-color;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-book-content {
    width: 80%;
    max-width: $breakpoint-tablet;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;

    h1 {
      color: $text-primary-color;
    }

    .contact-book-add-button {
      align-self: flex-end;
    }

    .contact-book-add-form {
      width: 100%;
    }

    .contact-book-contacts {
      width: 100%;
    }
  }
}
